<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Suzuran membutuhkan akses kamera untuk memindai wajah dan mendeteksi jerawat.</string>
	<key>UILaunchScreen</key>
	<false/>
</dict>
</plist>
